$lightGrey1 :  rgb(231, 231, 231);
$lightGrey2 : rgb(158, 158, 158);

$darkGrey1 : #606060;

$colorBlueLight : #3ba6e4;
$colorBlue : #4786FF;
$colorBlueDark : #1365ff;
$colorBlueVariant : #0586A7;

$facebook : #3A5998;
$facebookDark : #243B68;

$twitter : #05ABED;
$twitterDark : #0A95CB;

$google : #F44235;
$googleDark :  #C52E24;

$blackVariant : #24252A;