
.shop
{
    .shopHeader
    {
        display: flex;
        justify-content: center;

        .shopTitle
        {
            font-size: 3rem;
            margin-top  : 2rem;
        }
    }

    .shopBody
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items : center;
        justify-items : center;
        
    }
}